body {
    background-color: #fffffe;
    color: #001e1d;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #004643;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0px 0px;
}

nav {
    flex-basis: 60%;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    text-align: center;
    flex-shrink: 1;
    color: #fffffe;
}

nav a:hover {
    color: #f9bc60;
}

table {
    width: 100%;
    border-spacing: 0;
}

thead {
    color: #fffffe
}

td {
    text-align: center;
}

tr:nth-of-type(even) {
    background-color: #fffffe;
}

tr:nth-of-type(odd) {
    background-color: #abd1c6;
}

.product-img {
    width: 50px;
    height: 50px;
}

#table-header {
    background-color: #004643;
}

#table-header th {
    padding: 5px;
}

#store-button {
    background-color: #f9bc60;
}

#store-button a {
    text-decoration: none;
    color: #001e1d;
}

#logo-div {
    flex-basis: 50%;
    margin-left: 2%;
}

#logo {
    width: 50px;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav a {
        border: solid #fffffe 1px;
        margin-right: 3%;
    }

    thead {
        display: none;
    }

    tr {
        border: solid black 1px;
    }

    td {
        display: block;
        border: solid black 1px;
    }

    td:before {
        content: attr(data-label);
        text-align: left;
        position: absolute;
        left: 0;
        font-weight: 700;
        padding-left: 2%;
    }

    .td-body-text {
        text-align: right;
        position: relative;
        padding-left: 30%;
        padding-right: 2%;
    }

    .product-img {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 1200px) {
    .container {
        margin: 0 auto;
        max-width: 1200px;
    }
}
