{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>

    <title>{% block title %}NPK{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>

<body>

    <header>
        <div id="logo-div">
            <img id="logo" src="{% static 'npk.png' %}">
        </div>

        <nav>
            <a href="{% url 'product_list' %}">Produkter</a>
            <a href="{% url 'product_list' %}">Vad är NPK?</a>
            <a href="{% url 'about' %}">Om nikotinperkrona.se</a>
        </nav>
    </header>

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    <script src="{% static 'base.js' %}"></script>
</body>
</html>